@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(210 25% 7.8431%);
  --card: hsl(180 6.6667% 97.0588%);
  --card-foreground: hsl(210 25% 7.8431%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(210 25% 7.8431%);
  --primary: hsl(159.69 84.21% 34.12%);
  --primary-50: hsl(154 91% 95%);
  --primary-100: hsl(154 87% 85%);
  --primary-500: hsl(159.69 84.21% 34.12%);
  --primary-600: hsl(159.69 84.21% 30%);
  --primary-700: hsl(159.69 84.21% 25%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(210 25% 7.8431%);
  --secondary-50: hsl(210 40% 98%);
  --secondary-100: hsl(210 40% 96%);
  --secondary-500: hsl(217.22 91.22% 59.8%);
  --secondary-600: hsl(217.22 91.22% 55%);
  --secondary-700: hsl(217.22 91.22% 50%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(240 1.9608% 90%);
  --muted-foreground: hsl(210 25% 7.8431%);
  --accent: hsl(211.5789 51.3514% 92.7451%);
  --accent-foreground: hsl(203.8863 88.2845% 53.1373%);
  --destructive: hsl(356.3033 90.5579% 54.3137%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(201.4286 30.4348% 90.9804%);
  --input: hsl(200 23.0769% 97.4510%);
  --ring: hsl(159.69 84.21% 34.12%);
  --font-inter: 'Inter', sans-serif;
  --radius: 0.75rem;
}

.dark {
  --background: hsl(0 0% 0%);
  --foreground: hsl(200 6.6667% 91.1765%);
  --card: hsl(228 9.8039% 10%);
  --card-foreground: hsl(0 0% 85.0980%);
  --popover: hsl(0 0% 0%);
  --popover-foreground: hsl(200 6.6667% 91.1765%);
  --primary: hsl(159.69 84.21% 34.12%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(195.0000 15.3846% 94.9020%);
  --secondary-foreground: hsl(210 25% 7.8431%);
  --muted: hsl(0 0% 9.4118%);
  --muted-foreground: hsl(210 3.3898% 46.2745%);
  --accent: hsl(205.7143 70% 7.8431%);
  --accent-foreground: hsl(203.7736 87.6033% 52.5490%);
  --destructive: hsl(356.3033 90.5579% 54.3137%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(210 5.2632% 14.9020%);
  --input: hsl(207.6923 27.6596% 18.4314%);
  --ring: hsl(159.69 84.21% 34.12%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-inter antialiased bg-background text-foreground;
    font-family: var(--font-inter);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
